{% extends "layout.html" %}
{% block content %}
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="income_vs_expense"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="expenses_over_time"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="income_category"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="incomes_over_time"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="expenses_category"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- -------------------------------- -->
{% block javascript %}
<script>
    Chart.scaleService.updateScaleDefaults('linear', {
            ticks: {
                min: 0
            }
    });

    let sum_expenses = JSON.parse ({{ sum_expenses | tojson }});
    let sum_incomes = JSON.parse ({{ sum_incomes | tojson }});

    let income_vs_expense_chart = new Chart(income_vs_expense, {
            type: 'pie',
            data: {
            labels: ['Expense', 'Income'],
                datasets: [{
                    label: "Income Vs Expenses",
                    data: [sum_expenses, sum_incomes],
                    backgroundColor: ["#EF5A68", "#84B7E9"
                    ],

                    borderWidth: 1,
                    hoverBorderColor: ["black","black"],
                    hoverBorderWidth: 2,
                    hoverBackgroundColor: ['#f16059 ', '#53a3fb'],
                    pointHoverRadius: 5
                }],
            },
            options: {
                    title: {
                        display: true,
                            text: "Income Vs Expenses",
                                fontSize: 20,
                    },
                    legend: {
                        position: "right",
                            labels: {
                            fontColor: "gray"
                        },
                        display: true,
                    },

                    elements: {
                        hitRadius: 3,
                    }
            }
        });

        let labels = JSON.parse ({{ dates_label | tojson }});
        let amount = JSON.parse ({{ over_time_expenditure | tojson }});

    new Chart(document.getElementById("expenses_over_time"), {
            type: "line",
            data:
            {
                    labels: labels,
                datasets: [{
                    label: "Expense Over Time (RM)",
                        
                        data: amount,
                    fill: false,
                    borderColor: "rgb(241, 96, 89)",
                    lineTension: 0.1
                }]
            },
                options: {}
        });

        let income_labels = JSON.parse ({{ dates_income | tojson }});
        let income_amount = JSON.parse ({{ over_time_income | tojson }});

    new Chart(document.getElementById("incomes_over_time"), {
            type: "line",
            data:
            {
                labels: income_labels,
                datasets: [{
                    label: "Saving Over Time",
                    data: income_amount,
                    fill: false,
                    borderColor: "rgb(83, 163, 251)",
                    lineTension: 0.1
                }]
            },
            options: {
                
            }
        });
       
        let labels_category = JSON.parse ({{ income_category | tojson }});
        let category_amount = JSON.parse ({{ income_category_amount | tojson }});
        
        new Chart(document.getElementById("income_category"), {
            type: 'bar',
            data: {
            labels: labels_category,
                datasets: [{
                    label: '',
                    data: category_amount,
                    backgroundColor: ['#F1C0E8', '#CFBAF0', '#A3C4F3', ' #98F5E1'],
                    borderWidth: 1,
                    hoverBorderColor: "black",
                    hoverBorderWidth: 2,
                    pointHoverRadius: 5
                }],
                    },
        options: {
        title: {
                 display: true,
                text: "Income Categories",
                fontSize: 20,
                    },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display:false,
                    },

                        elements: {
                            hitRadius: 3,
                    },

                    }
                })

        let labels_categorys = JSON.parse ({{ expense_category | tojson }});
        let categorys_amounts = JSON.parse ({{ expense_category_amount | tojson }});
        
        new Chart(document.getElementById("expenses_category"), {
            type: 'bar',
            data: {
            labels: labels_categorys,
                datasets: [{
                    label: '',
                    data: categorys_amounts,
                    backgroundColor: ['#F1C0E8', '#CFBAF0', '#A3C4F3','#98F5E1',],
                    borderWidth: 1,
                    hoverBorderColor: "black",
                    hoverBorderWidth: 2,
                    pointHoverRadius: 5
                }],
                    },
            options: {
            title: {
                display: true,
                text: "Expense Categories",
                fontSize: 20,
                    },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display:false,
                    },

                        elements: {
                            hitRadius: 3,
                    },

                    }
                })
</script>

{% endblock %}
{% endblock %}
