{% for entry in expenses %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{entry.date.strftime("%d-%m-%Y")}}</td>
            <td>{{entry.type}}</td>
            <td>{{entry.category }}</td>
            <td>{{entry.nota }}</td>
            <td class="amount-field">RM <span style="color: rgb(223, 20, 20);">{{ "{:.2f}".format(entry.amount) }}</span></td>
            <td><a href="{{ url_for('delete', entry_id = entry.id, entry_type=entry.type, entry_amount=entry.amount, entry_date=entry.date.strftime('%Y-%m-%d %H:%M:%S'), next=url_for('add_expense'), type='Expense' ) }}"  class="btn btn-outline-danger btn-sm">Delete</a></td>
        </tr>
{% endfor %}