{% extends 'layout.html' %}
{% block content %}

<body>
    <h1>Expense</h1>

    <form action="expense-form.php" method="POST" > 
        <div class="input-section">
            <label for="category-select">Category:</label>
            <select type="category" id="category-select"  required >
                <option value="Food and Beverage"selected>Food and Beverage</option>
                <option value="Shopping">Shopping</option>
                <option value="Transport">Transport</option>
                <option value="Rental">Rental</option>
            </select>

            <label for="amount-input">Amount:</label>
            <input type="number" id="amount-input" required>
        
            <label for="date-input">Date:</label>
            <input type="date" id="date-input" required>

            <button id="add-button">Add</button>
        </div>
    </form>
        
    <div class="expenses-list">
        <h2>Expenses List</h2>
        <table>
            <thead>
                    <tr>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Delete</th>
                    </tr>
            </thead>
            <tbody id="expense-table-body">
            </tbody>
            <tfoot>
                <td>Total:</td>
                <td id="total-amount"></td>
                <td></td>
                <td></td>
            </tfoot>
        </table>
    </div>
</body>
{% endblock %}