<div class="progress-section">
    <h3>Your Goal for This Month:</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ current_year_month }}</td>
            </tr>
            <tr>
                <th>Goal</th>
                <td>RM {{ goal_amount|round(2) }}</td>
            </tr>
            <tr>
                <th>Current Saving</th>
                <td>RM {{ net|round(2) }}</td>
            </tr>
            {% if progres %}
            <tr>
                <th>Progress</th>
                <td>{{ progres | round(2) }} %</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <img src="{{ url_for('static', filename=image) }}" class="img-fluid" alt="Tree Progress">
</div>