{% extends 'layout.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
</head>

<div class="col-sm-10 ml-auto mr-auto ">
    <center>
     <H1>Goal Progress</H1>
    </center>
    <br>

    <div class="column is-one-third is-offset-one-third">
        <form hx-post="/search_year_month" hx-target="#results" hx-swap="innerHTML">
            <row>
                <button type='button' class="btn btn-outline-success btn-sm mb-2"hx-get="/all_goaltable" hx-target="#results">All</button>
                <button type='button' class="btn btn-outline-success btn-sm mb-2" hx-get="/this_year_goaltable" hx-target="#results">This year</button></row>
                ⠀⠀⠀⠀⠀
                <label for="month">Month:</label>
                <select name="month" id="month" multiple>
                    <option value="13">All</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <label for="year">Year:</label>
                <input type="number" id="year" name="year" class="input is-small", style="width: 70px;" required>
                <button type="submit" class="input is-small">Generate table</button>
            </row>
        </form>  
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Date</th>
                <th scope="col">Goal (RM)</th>
                <th scope="col">Net Saving (RM)</th>
                <th scope="col">Progress</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        
        <tbody id="results">
            {% if amounts %}
                {% for entry in amounts %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{entry.month_year}}</td>
                            <td class="amount-field">RM {{ "{:.2f}".format(entry.goal) }}</td>
                            <td class="amount-field">RM {{ "{:.2f}".format(entry.net) }}</td>
                            {% if entry.progress < 0 %}
                                <td><span style="color: rgb(223, 20, 20);">{{ entry.progress | round(2) }}%</span></td>
                            {% elif entry.progress == 100 %}
                                <td><span style="color: rgb(0, 100, 38);">{{ entry.progress | round(2) }}%</span></td>
                            {% else %}
                                <td>{{ entry.progress | round(2) }}%</td>
                            {% endif %}
                            
                            <td>
                                <a hx-get="{{ url_for('tree_goal', entry_id=entry.id, entry_net= entry.net) }}" hx-target="#goal-image-section" hx-swap="innerHTML">
                                    <i class="fa-solid fa-tree" style="color: rgb(0, 100, 38);"></i>
                                </a>                            
                            </td>
                            <td></td><td><a href="{{ url_for('edit_goal', entry_id=entry.id) }}"  class="edit" title="Edit" data-toggle="tooltip" id="1"><i class="fa fa-pencil" style="color: rgb(0, 0, 0);"></i></a></td>
                            <td><a href="{{ url_for('delete_goal', entry_id=entry.id ) }}" class="delete" title="Delete" data-toggle="tooltip" id="1"><i class="fa-solid fa-trash" style="color: rgb(172, 25, 25);"></i></a></td>
                            
                        </tr>
                {% endfor %}
            {% else %}
                <tr> 
                    <td colspan="4">No goals found. Let's set a goal.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div id="goal-image-section"></div>
</div>
{% endblock %}