{% if results %}
    {% for entry in results %}
        <tr>
            <td>{{ entry.month_year.split('-')[1] }}-{{ entry.month_year.split('-')[0] }}</td> 
            <td class="amount-field">RM <span style="color: rgb(49, 81, 207);">{{ "{:.2f}".format(entry.total_income) }}</span></td>
            <td class="amount-field">RM <span style="color: rgb(223, 20, 20);">{{ "{:.2f}".format(entry.total_expense) }}</span></td>
            <td class="amount-field">{{  'RM ' + "{:.2f}".format(entry.total) }}</td>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="4">No records for montly.</td>
    </tr>
{% endif %}



