{% if amounts %}
    {% for entry in amounts %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{entry.month_year}}</td>
                <td class="amount-field">RM {{ "{:.2f}".format(entry.goal) }}</td>
                <td class="amount-field">RM {{ "{:.2f}".format(entry.net) }}</td>
                {% if entry.progress < 0 %}
                    <td><span style="color: rgb(223, 20, 20);">{{ entry.progress | round(2) }}%</span></td>
                {% elif entry.progress == 100 %}
                    <td><span style="color: rgb(0, 100, 38);">{{ entry.progress | round(2) }}%</span></td>
                {% else %}
                    <td>{{ entry.progress | round(2) }}%</td>
                {% endif %}
                
                <td>
                    <a hx-get="{{ url_for('tree_button', entry_id=entry.id) }}" hx-target="#goal-image-section" hx-swap="innerHTML">
                        <i class="fa-solid fa-tree" style="color: rgb(0, 100, 38);"></i>
                    </a>                            
                </td>
                <td></td><td><a href="{{ url_for('edit_goal', entry_id=entry.id) }}"  class="edit" title="Edit" data-toggle="tooltip" id="1"><i class="fa fa-pencil" style="color: rgb(0, 0, 0);"></i></a></td>
                <td><a href="{{ url_for('delete_goal', entry_id=entry.id ) }}" class="delete" title="Delete" data-toggle="tooltip" id="1"><i class="fa-solid fa-trash" style="color: rgb(172, 25, 25);"></i></a></td>
                
            </tr>
    {% endfor %}
{% elif current_year_month %}
    <tr>
        <td colspan="4">No goals found for {{current_year_month}}.</td>
    </tr>
{% else %}
    <tr> 
        <td colspan="4">No goals found. Let's set a goal.</td>
    </tr>
{% endif %}