<div class="progress-section">
    <h3>Your Goal for {{ current_year_month }}</h3>
    <h3> {{ message }}</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Goal</th>
                <td>RM {{ goal_amount|round(2) }}</td>
            </tr>
            <tr>
                <th>Current Saving</th>
                <td>RM {{ net|round(2) }}</td>
            </tr>

            <tr>
                <th>Progress</th>
                <td>{{ progress | round(2) }} %</td>
            </tr>

        </tbody>
    </table>
    <img src="{{ url_for('static', filename=image) }}" class="img-fluid" alt="Tree Progress">
</div>