{% extends 'layout.html' %}
{% block content %}
<div class="col-xs-8 col-sm-4 col-md-4 col-lg-3 ml-auto mr-auto">
    <div class="card card-style mb-2">
        <div class="card-body">
            <form action="" method="POST">
                {{ form.csrf_token() }}
                <fieldset class="form-group">
                    <legend class="mb-4">Set goal</legend>
                    <div class="form-group">
                        {{ form.amount.label(class="form-control-label") }}
                        {% if form.amount.errors %}
                            {{ form.amount(class="form-control form-control-sm is-invalid") }}
                            {% for error in form.amount.errors %}
                                <div class="invalid-feedback">
                                    <span>{{error}}</span>
                                </div>
                            {% endfor %}
                        {% else %}
                            {{ form.amount(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.month.label(class = "form-control-label") }}
                        {{ form.month(class = "form-control form-control-sm") }}
                    </div>

                    <div class="form-group">
                        {{ form.year.label(class = "form-control-label") }}
                        {{ form.year(class = "form-control form-control-sm") }}
                    </div>

                    <div class="form-group border-bottom pb-3">
                        {{ form.submit(class="btn btn-outline-info btn-block")}}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <h3>Your Goal for This Month:</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ current_date }}</td>
            </tr>
            <tr>
                <th>Goal</th>
                <td>RM {{ goal }}</td>
            </tr>
            <tr>
                <th>Current Saving</th>
                <td>RM {{ net_monthly_table }}</td>
            </tr>
            {% if progres %}
            <tr>
                <th>Progress</th>
                <td>{{ progres | round(2) }} %</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <strong>{{ message }}</strong>
    <img src="{{ url_for('static', filename=image) }}" class="img-fluid" alt="Tree Progress">
</div>


    </div>
</body>

{% endblock %}
